{% extends 'base.html' %}

{% block content %}
    <div style="margin-top: 1%">
        <div class="container-fluid">
            <div class="row align-items-start">
                <div class="col">
                    <div class="bg-image card shadow-1-strong"
                         style="background: rgba(255,0,0,0);">
                        <div class="card-body text-white">
                            <h1>Примеры работы алгоритма</h1>
                            <h5>
                                <ul>
                                    <li>
                                        Kmeans
                                    </li>
                                    <img style="display: block;-webkit-user-select: none;margin: auto;cursor: zoom-in;background-color: hsl(0, 0%, 90%);transition: background-color 300ms;" src="https://i2.wp.com/miro.medium.com/0*x3aEYEz8Cg0cZ5as.png" width="644" height="214">
                                    <li>
                                       DBSCAN
                                    </li>
                                    <img style="display: block;-webkit-user-select: none;margin: auto;cursor: zoom-in;background-color: hsl(0, 0%, 90%);transition: background-color 300ms;" src="https://i.stack.imgur.com/KZ10b.png" width="344" height="296">
                                </ul>
                                </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
