{% extends 'base.html' %}

{% block content %}
    <div style="margin-top: 1%">
        <div class="container-fluid">
            <div class="row align-items-start">
                <div class="col">
                    <div class="bg-image card shadow-1-strong"
                         style="background: rgba(255,0,0,0);">
                        <div class="card-body text-white">
                            <h1>Часто используемые модели</h1>
                            <h5>
                                <ul>
                                    <li>
                                        Kmeans
                                    </li>
                                    <li>
                                       DBSCAN
                                    </li>
                                </ul>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
